#nav {
  background-color: #95f097;
}

#nav2 {
  background-color: #95f097;
}

#cuerpo {
  text-align: center;
  background-color: #00ced1;
}

#foto {
  border-radius: 50%;
}

ul {
  justify-content: space-between;
}

#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #contenedor > div {
    width: 50%;
  }
  #text {
    
    text-align: left
  }

  .fotoperfil{
    padding: 10px; margin: 10px;float: left;

  }

p::first-letter{
    
    font-size: 2rem;
   
    
}
p {
    
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  
